{namespace h=Helhum\UploadExample\ViewHelpers}
<label for="title">
	<f:translate key="tx_uploadexample_domain_model_example.title" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="title" /><br />

<label for="image">
	<f:translate key="tx_uploadexample_domain_model_example.image" />
</label><br />
Image: <h:form.upload property="image" /> <br>
Additional image title: <f:form.textfield property="image.title" /> <br>
Additional image description: <f:form.textarea property="image.description" cols="30" rows="4"></f:form.textarea>

<hr>

<label for="image_collection">
	<f:translate key="tx_uploadexample_domain_model_example.image_collection" />
</label><br />
Image <h:form.upload property="imageCollection.0" /> <br>
Additional image title: <f:form.textfield property="imageCollection.0.title" /><br>
Additional image description: <f:form.textarea property="imageCollection.0.description" cols="30" rows="4"></f:form.textarea>
<br />